body {
    padding: 0;
    margin: 0;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    background-color: blueviolet;
}

.contact-form {
    display: flex;
    flex-direction: column;
}